.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #0077ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  input[type="submit"]:hover {
    background-color: #bd3838;
  }
  